     <%- include("header") -%> 
    <div class="box" id="heading">
        <h1><%=listTitle%></h1>
    </div>
    <div class="box">
        <% newListItems.forEach(function(Item) { %>
        <form action="/delete" method="POST">
        <div class="item">
            <input type="checkbox" name="checkedbox" value="<%=Item._id%>" onchange="this.form.submit()">
            <p> <%= Item.name %> </p>
            
        </div>
        </form>
        <% }); %>
        
        <form action="/" method="POST">
            <input type="text" name="NewList" placeholder="New Item" autocomplete="off">
            <button class=add type="submit" name="list" value="<%=listTitle%>" >+</button>
        </form>
        <form action="/work" method="POST">
            <button class="workbutton" type="submit" name="workbutton">Work List </button>
        </form>
       
    </div>
    <%-include("footer") -%>
   